.table tbody>tr>td {
    vertical-align: middle;
}

footer p {
    margin-top: 0.5em;
    margin-left: 1em;
}

.spinner {
    margin: 1em;
}

.shim-spinner {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-size: 10em;
}
